.card {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr 3fr;
    align-items: center;
    gap: var(--space-md);
    padding: 2rem;
    border-bottom: 1px solid var(--c-grey-1);
    border-radius: 5px;
    transition: background-color 0.4s ease-in-out;
    margin-block: 0.5rem ;
    cursor: pointer;
}
.card:hover {
    background-color: var(--c-grey-2);
}

.card-content {
    display: grid;
    grid-template-columns: 1fr auto;
}

.card-img {
    border-radius: 5px;

}

.card-runtime {
    justify-self: center;
    font-size: 0.8rem;
     opacity: 0.8;
}

.episode-numb{
    font-size: 1.5rem;

}


@media (max-width:1000px) {
    .card {
        grid-template-columns: auto 1fr 2fr;
    }
}



@media(max-width:800px) {
    .episode-numb {
        position: absolute;
        bottom: 6px;
        right: 15px;
    }
     .card {
        grid-template-columns: 1fr;
        padding: 0.5rem;
    }
    
    .card-content {
        grid-template-columns: 1fr !important;
        gap: var(--space-sm);
        font-size: 0.8rem;
    }
    .card-overview {
        opacity: 0.8;
        font-weight: var(--f-fw-light);
    }
    .card-runtime {
        grid-row: 3;
    }

    .card-img {
        width: 100%;
        max-width: 200px;
    }
    .episode-numb {
        font-size: 0.8rem;
    }
    .card-runtime {
        justify-self: start;
        opacity: 0.8;
        font-size: 0.8rem;
    }
    
}

@media(max-width:700px) {
     .card-content {
        font-size: 0.8rem;
    }
 }
