.card {
    position: relative;
    z-index: 1;
    overflow: visible;
    transition: 0.2s opacity ease-in-out;
    cursor: pointer;
}

.card:hover {
  opacity: 0.8;
}

.card__skeleton {
    position: absolute;
    inset: 0;
    background-color: var(--c-black-3);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

.card__title {
    position: absolute;
    left: 10px;
    bottom: 10px;;

    color: var(--c-white-2);
    font-weight: var(--f-fw-medium);
    text-shadow: 1px 1px 2px black;
    width: 100%;
}

.card__img {
    max-width: 100%;
    border-radius: 5px;
    height: auto;
    width: 23vw;
}
@media (min-width:600px) {
    .card__img {
        width: 18vw;
    }
} 

@media (min-width:800px) {
    .card__img {
        aspect-ratio: 16 / 9;
        width: 20vw;
    }

    .card__title {
        font-size: clamp(0.7rem, 1.3vw, 1rem);
    }
}
@media (min-width:1200px) {
    .card__img { 
        width: 18vw;
    }
}


.card-hover {
    scale: 0.8;
    opacity: 0;
    translate:0 0;
    transition: opacity 0.3s ease-in-out, scale 0.3s ease-in-out, translate 0.3s ;
  
}

.card-hover.active {
    opacity: 1;
    scale: 1;
    translate: 0 -20%;
    transition:translate 0.3s , opacity 0.3s ease-in-out, scale 0.3s ease-in-out ;
}

