
    <div class="slider" >
        <button class="slider__prev"  [class.notClickable] = "" (click)="scrollPrev()">
            <svg fill="#fff" height="30px" width="30px" version="1.1" id="XMLID_287_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 24 24" xml:space="preserve">
            <g>
                <g>
                    <polygon points="6.8,23.7 5.4,22.3 15.7,12 5.4,1.7 6.8,0.3 18.5,12 		"/>
                </g>
            </g>
            </svg>
        </button>
            <div class="slider__cont">
               <div class="scroll-track" [style.transform]="trackTransform()" [class.no-transition]="disableTransition()">

                @for (item of splitMovies(); track $index) {

                    @if ($index === 1) {
                        <app-slider-item #elem  [slideData]="item" class="item"  [type]="type()"></app-slider-item>
                    } @else {
                        <app-slider-item  [slideData]="item" class="item"   [type]="type()"></app-slider-item>
                    }  
                }
               </div>  
             
            </div>       
        <button class="slider__next" (click)="scrollNext()" [class.notClickable] = "">
            <svg fill="#fff" height="30px" width="30px" version="1.1" id="XMLID_287_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 24 24" xml:space="preserve">
            <g id="next">
                <g>
                    <polygon points="6.8,23.7 5.4,22.3 15.7,12 5.4,1.7 6.8,0.3 18.5,12 		"/>
                </g>
            </g>
            </svg>
        </button>
    </div>