
:host {
    overflow: hidden;
}
.slider {
    position: relative;
    z-index: 1;
 
    margin: 0 auto; 
}

.slider__prev, .slider__next {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity 0.5s, background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: hsla(0,0%,8%,.5);
}

.slider__next {
    right: 0;
    left: unset;
}

.slider__prev {
    rotate: 180deg;
}

.slider button svg {
    width: 30px;
    transition: scale 0.3s;
}

.slider button:hover {
    background: hsla(0,0%,8%,0.8);       
}

.slider button:hover svg {
    scale: 1.2;
}

.slider__cont {
   /*  margin: 0 auto;
    display: grid;*/
    padding-inline: 1.6rem;

    position: relative;
    width: 100%;
   
}

.scroll-track {
    width: 100%;
  display: flex;
  will-change: transform;
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);;
 
   
}

.scroll-track.no-transition {
  transition: none; 
}

/* .slider__cont > * {
   
} */

.item{
    width: min-content;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
}


.hidden {
    visibility: hidden;
    opacity: 0;
}

.notClickable {
    pointer-events: none;
}

.slider:has(button.notClickable) {
    pointer-events: none;
}


@media(min-width:400px) {
    .slider__cont {
      padding-left: 2.9rem;
       
    }
}


@media(max-width:1000px) {
    .slider button svg {
        width: 20px;
        transition: scale 0.3s;
    }
}


