
    <div class="slider" >
        <button class="slider__prev" [class.hidden]="buttonDisabled()" [class.notClickable] = "notClickable()" (click)="scrollPrev()">
            <svg fill="#fff" height="30px" width="30px" version="1.1" id="XMLID_287_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 24 24" xml:space="preserve">
            <g>
                <g>
                    <polygon points="6.8,23.7 5.4,22.3 15.7,12 5.4,1.7 6.8,0.3 18.5,12 		"/>
                </g>
            </g>
            </svg>
        </button>
            <div class="slider__cont" #slider>
                @if(!buttonDisabled()) {
                    <app-slider-item [slideData]="splitMovies()[prevSlide()]" class="item item--prev" [class.transitionNext]="transitionNext()" [class.transitionPrev]="transitionPrev()"  [type]="type()"></app-slider-item>
                } 
                <app-slider-item [slideData]="splitMovies()[currSlide()]" class="item item--curr" [class.transitionNext]="transitionNext()" [class.transitionPrev]="transitionPrev()" [main]="true" [type]="type()"></app-slider-item>
                <app-slider-item [slideData]="splitMovies()[nextSlide()]" class="item item--next" [class.transitionNext]="transitionNext()" [class.transitionPrev]="transitionPrev()"  [type]="type()"></app-slider-item>
            </div>       
        <button class="slider__next" (click)="scrollNext()" [class.notClickable] = "notClickable()">
            <svg fill="#fff" height="30px" width="30px" version="1.1" id="XMLID_287_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 24 24" xml:space="preserve">
            <g id="next">
                <g>
                    <polygon points="6.8,23.7 5.4,22.3 15.7,12 5.4,1.7 6.8,0.3 18.5,12 		"/>
                </g>
            </g>
            </svg>
        </button>
    </div>
    
