<div class="list">
    <h3 class="list__header">My List</h3>    
    <div class="list__content">

        @if (list().length > 0) {
            @for (item of list(); track item.id) {
                @if (cardData() | async; as data) {
                    <app-card class="card" [mediaData]="data[$index]"  cdkOverlayOrigin #card="cdkOverlayOrigin" [attr.item-id]="item.id" [attr.item-type]="item.type" (mouseenter)="onMouseEnter(item.id, card, item.type)" (mouseleave)="onMouseLeave()" (click)="OpenModal(item.id, item.type)"></app-card>
                }
            }
        } @else {
            <div class="skeleton"><p>Ups! your list is empty</p></div>
        }
        
    </div>

   
</div>
